no ip access-list standard management_server
ip access-list standard management_server
 permit {{ management_server_ip }}
snmp-server location {{ city_name }}
snmp-server community {{ snmp_string }} RO management_server
snmp-server ifindex persist
snmp-server host {{ management_server_ip }} version 2c {{ snmp_string }}
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps flowmon
snmp-server enable traps tty
snmp-server enable traps ethernet cfm cc mep-up mep-down cross-connect loop config
snmp-server enable traps ethernet cfm crosscheck mep-missing mep-unknown service-up
snmp-server enable traps auth-framework sec-violation
snmp-server enable traps energywise
snmp-server enable traps ether-oam
snmp-server enable traps ethernet evc status create delete
snmp-server enable traps bridge newroot topologychange
snmp-server enable traps stpx inconsistency root-inconsistency loop-inconsistency
snmp-server enable traps vtp
snmp-server enable traps vlancreate
snmp-server enable traps vlandelete
snmp-server enable traps cef resource-failure peer-state-change peer-fib-state-change inconsistency
snmp-server enable traps syslog
snmp-server enable traps event-manager
snmp-server enable traps ethernet cfm alarm
